.Admin-App { 
  background-color: rgb(241, 223, 184);
}

#Admin-App-NAVBAR {
  position: fixed; 
  background-color: rgb(230, 190, 104);
  z-index: 1;
}

#Admin-App-Row2 {
  padding: 150px;
}

#Admin-App-UL {  
  position: fixed; 
  top: 150px;
  left: 30px;
}

@media screen and (max-width: 578px) {

  .Admin-App {       
    background-color: rgb(241, 223, 184);
  }

  #Admin-App_NAVBAR {
    position: unset;
  }

  #Admin-App-UL {
    position: unset;    
    padding-bottom: 50px;
  }
}
